# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

C:\Users\tiago\anaconda3\envs\FinTech\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\tiago\anaconda3\envs\FinTech\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\tiago\anaconda3\envs\FinTech\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\tiago\anaconda3\envs\FinTech\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\tiago\anaconda3\envs\FinTech\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\tiago\anaconda3\envs\FinTech\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\tiago\anaconda3\envs\FinTech\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\tiago\anaconda3\envs\FinTech\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\tiago\anaconda3\envs\FinTech\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\tiago\anaconda3\envs\FinTech\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\tiago\anaconda3\envs\FinTech\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\tiago\anaconda3\envs\FinTech\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path("Resources/applicants_data.csv"))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [6]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns = ["EIN","NAME"])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [11]:
# Create a list of categorical variables 
all_columns = applicant_data_df.columns
categorical_variables = all_columns.drop(["STATUS","ASK_AMT","IS_SUCCESSFUL"])

# Display the categorical variables list
categorical_variables

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'],
      dtype='object')

In [19]:
# Create a OneHotEncoder instance
enc = OneHotEncoder()

In [20]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables]).toarray()

In [21]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data)

# Review the DataFrame
encoded_df.head()

,0,1,2,3,4,5,6,7,8,9,...,104,105,106,107,108,109,110,111,112,113
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [23]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df[["STATUS","ASK_AMT","IS_SUCCESSFUL"]], encoded_df],axis = 1, join="inner")
# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,0,1,2,3,4,5,6,...,104,105,106,107,108,109,110,111,112,113
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [24]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [25]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns = "IS_SUCCESSFUL")

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,0,1,2,3,4,5,6,7,...,104,105,106,107,108,109,110,111,112,113
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [26]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [28]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

C:\Users\tiago\anaconda3\envs\FinTech\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
C:\Users\tiago\anaconda3\envs\FinTech\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
C:\Users\tiago\anaconda3\envs\FinTech\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [33]:
# Define the the number of inputs (features) to the model
number_input_features = X_train_scaled.shape[1]

# Review the number of features
number_input_features

116

In [34]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [35]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  12

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

12

In [36]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 6

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

6

In [45]:
# Create the Sequential model instance
nn = Sequential()

In [46]:
# Add the first hidden layer
nn.add(Dense(units = hidden_nodes_layer1, activation = 'relu', input_dim = number_input_features))

In [47]:
# Add the second hidden layer
nn.add(Dense(units = hidden_nodes_layer2, activation = 'relu'))

In [48]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation = 'sigmoid'))

In [49]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 12)                1404
_________________________________________________________________
dense_4 (Dense)              (None, 6)                 78
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 7
=================================================================
Total params: 1,489
Trainable params: 1,489
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [50]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [51]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5924 - acc: 0.7088
Epoch 2/50
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5600 - acc: 0.7266
Epoch 3/50
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5542 - acc: 0.7283
Epoch 4/50
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5511 - acc: 0.7290
Epoch 5/50
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5495 - acc: 0.7306
Epoch 6/50
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5477 - acc: 0.7301
Epoch 7/50
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5469 - acc: 0.7320
Epoch 8/50
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5460 - acc: 0.7326
Epoch 9/50
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5453 - acc: 0.7336
Epoch 10/50
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5448 - acc: 0.7333
Epoch 11/50
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5446 - acc: 0.7341
Epoch 12/50
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5438 - acc: 0.7345
Epoch 13/50
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5436 - acc: 0.7340
Epoch 14/50
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5433 - acc: 0.7338
Epoch 15/50
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5429 - acc: 0.7345
Epoch 16/50
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5425 - acc: 0.7349
Epoch 17/50
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5425 - acc: 0.7350
Epoch 18/50
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5419 - acc: 0.7344
Epoch 19/50
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5419 - acc: 0.7353
Epoch 20/50
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5415 - acc: 0.7359
Epoch 21/50
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5412 - acc: 0.7355
Epoch 22/50
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5414 - acc: 0.7350
Epoch 23/50
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5412 - acc: 0.7353
Epoch 24/50
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5408 - acc: 0.7364
Epoch 25/50
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5406 - acc: 0.7366
Epoch 26/50
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5404 - acc: 0.7366
Epoch 27/50
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5406 - acc: 0.7367
Epoch 28/50
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5400 - acc: 0.7360
Epoch 29/50
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5400 - acc: 0.7366
Epoch 30/50
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5396 - acc: 0.7369
Epoch 31/50
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5394 - acc: 0.7369
Epoch 32/50
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5395 - acc: 0.7370
Epoch 33/50
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5394 - acc: 0.7362
Epoch 34/50
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5393 - acc: 0.7356
Epoch 35/50
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5390 - acc: 0.7371
Epoch 36/50
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5390 - acc: 0.7372
Epoch 37/50
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5389 - acc: 0.7359
Epoch 38/50
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5389 - acc: 0.7372
Epoch 39/50
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5388 - acc: 0.7373
Epoch 40/50
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5386 - acc: 0.7356
Epoch 41/50
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5384 - acc: 0.7369
Epoch 42/50
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5386 - acc: 0.7378
Epoch 43/50
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5379 - acc: 0.7374
Epoch 44/50
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5382 - acc: 0.7365
Epoch 45/50
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5381 - acc: 0.7378
Epoch 46/50
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5377 - acc: 0.7382
Epoch 47/50
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5379 - acc: 0.7378
Epoch 48/50
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5378 - acc: 0.7374
Epoch 49/50
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5378 - acc: 0.7382
Epoch 50/50
25724/25724 [==============================] - 1s 31us/sample - loss: 0.5378 - acc: 0.7375

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [52]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 [==============================] - 0s 13us/sample - loss: 0.5554 - acc: 0.7297
Loss: 0.5554078066036235, Accuracy: 0.72967928647995

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [53]:
# Set the model's file path
file_path ="Resources/model.json"
nn_json = nn.to_json()
with open(file_path, "w") as json_file:
    json_file.write(nn_json)

# Export your model to a HDF5 file
nn.save_weights("Resources/AlphabetSoup.h5")

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [54]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [56]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = int(number_input_features/2)

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [57]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [58]:
# First hidden layer
nn_A1.add(Dense(units = hidden_nodes_layer1_A1, activation = 'relu', input_dim = number_input_features))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation = 'sigmoid'))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 58)                6786
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 59
=================================================================
Total params: 6,845
Trainable params: 6,845
Non-trainable params: 0
_________________________________________________________________

In [59]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [60]:
# Fit the model using 50 epochs and the training data
fit_model_A1 =  nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5836 - acc: 0.7139
Epoch 2/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5560 - acc: 0.7283
Epoch 3/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5533 - acc: 0.7304
Epoch 4/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5512 - acc: 0.7298
Epoch 5/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5494 - acc: 0.7305
Epoch 6/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5487 - acc: 0.7313
Epoch 7/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5477 - acc: 0.7315
Epoch 8/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5468 - acc: 0.7300
Epoch 9/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5468 - acc: 0.7312
Epoch 10/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5455 - acc: 0.7339
Epoch 11/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5451 - acc: 0.7321
Epoch 12/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5448 - acc: 0.7324
Epoch 13/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5447 - acc: 0.7330
Epoch 14/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5439 - acc: 0.7338
Epoch 15/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5440 - acc: 0.7328
Epoch 16/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5431 - acc: 0.7331
Epoch 17/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5427 - acc: 0.7340
Epoch 18/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5433 - acc: 0.7344
Epoch 19/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5421 - acc: 0.7347
Epoch 20/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5424 - acc: 0.7361
Epoch 21/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5421 - acc: 0.7352
Epoch 22/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5420 - acc: 0.7346
Epoch 23/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5414 - acc: 0.7349
Epoch 24/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5415 - acc: 0.7348
Epoch 25/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5413 - acc: 0.7339
Epoch 26/50
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5405 - acc: 0.7348
Epoch 27/50
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5408 - acc: 0.7347
Epoch 28/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5410 - acc: 0.7350
Epoch 29/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5410 - acc: 0.7348
Epoch 30/50
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5408 - acc: 0.7354
Epoch 31/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5398 - acc: 0.7357
Epoch 32/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5398 - acc: 0.7359
Epoch 33/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5400 - acc: 0.7360
Epoch 34/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5399 - acc: 0.7355
Epoch 35/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5394 - acc: 0.7373
Epoch 36/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5397 - acc: 0.7364
Epoch 37/50
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5393 - acc: 0.7360
Epoch 38/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5390 - acc: 0.7367
Epoch 39/50
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5395 - acc: 0.7357
Epoch 40/50
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5392 - acc: 0.7364
Epoch 41/50
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5393 - acc: 0.7353
Epoch 42/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5387 - acc: 0.7354
Epoch 43/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5385 - acc: 0.7350
Epoch 44/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5389 - acc: 0.7370
Epoch 45/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5385 - acc: 0.7376
Epoch 46/50
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5383 - acc: 0.7379
Epoch 47/50
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5380 - acc: 0.7373
Epoch 48/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5386 - acc: 0.7367
Epoch 49/50
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5380 - acc: 0.7372
Epoch 50/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5380 - acc: 0.7365

#### Alternative Model 2

In [61]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [62]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [63]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 80

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

80

In [64]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [65]:
# First hidden layer
nn_A2.add(Dense(units = hidden_nodes_layer1_A2, activation = 'relu', input_dim = number_input_features))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation = 'sigmoid'))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_8 (Dense)              (None, 80)                9360
_________________________________________________________________
dense_9 (Dense)              (None, 1)                 81
=================================================================
Total params: 9,441
Trainable params: 9,441
Non-trainable params: 0
_________________________________________________________________

In [66]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [67]:
# Fit the model
fit_model_A2 =  nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5857 - acc: 0.7187
Epoch 2/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5572 - acc: 0.7284
Epoch 3/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5546 - acc: 0.7298
Epoch 4/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5512 - acc: 0.7305
Epoch 5/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5507 - acc: 0.7309
Epoch 6/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5495 - acc: 0.7310
Epoch 7/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5479 - acc: 0.7320
Epoch 8/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5482 - acc: 0.7311
Epoch 9/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5463 - acc: 0.7313
Epoch 10/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5464 - acc: 0.7329
Epoch 11/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5459 - acc: 0.7325
Epoch 12/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5453 - acc: 0.7325
Epoch 13/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5453 - acc: 0.7336
Epoch 14/50
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5451 - acc: 0.7336
Epoch 15/50
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5449 - acc: 0.7341
Epoch 16/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5442 - acc: 0.7349
Epoch 17/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5443 - acc: 0.7329
Epoch 18/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5439 - acc: 0.7335
Epoch 19/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5430 - acc: 0.7345
Epoch 20/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5432 - acc: 0.7351
Epoch 21/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5430 - acc: 0.7336
Epoch 22/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5424 - acc: 0.7340
Epoch 23/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5424 - acc: 0.7353
Epoch 24/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5421 - acc: 0.7347
Epoch 25/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5420 - acc: 0.7357
Epoch 26/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5415 - acc: 0.7348
Epoch 27/50
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5416 - acc: 0.7352
Epoch 28/50
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5409 - acc: 0.7349
Epoch 29/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5417 - acc: 0.7346
Epoch 30/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5405 - acc: 0.7361
Epoch 31/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5408 - acc: 0.7361
Epoch 32/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5407 - acc: 0.7359
Epoch 33/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5409 - acc: 0.7358
Epoch 34/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5408 - acc: 0.7342
Epoch 35/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5401 - acc: 0.7357
Epoch 36/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5405 - acc: 0.7357
Epoch 37/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5395 - acc: 0.7352
Epoch 38/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5400 - acc: 0.7367
Epoch 39/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5393 - acc: 0.7369
Epoch 40/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5398 - acc: 0.7362
Epoch 41/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5392 - acc: 0.7369
Epoch 42/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5390 - acc: 0.7363
Epoch 43/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5388 - acc: 0.7360
Epoch 44/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5390 - acc: 0.7357
Epoch 45/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5386 - acc: 0.7377
Epoch 46/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5387 - acc: 0.7364
Epoch 47/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5387 - acc: 0.7373
Epoch 48/50
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5388 - acc: 0.7352
Epoch 49/50
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5382 - acc: 0.7368
Epoch 50/50
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5380 - acc: 0.7377

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [68]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
8575/8575 [==============================] - 0s 11us/sample - loss: 0.5554 - acc: 0.7297
Loss: 0.5554078066036235, Accuracy: 0.72967928647995

In [69]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
8575/8575 [==============================] - 0s 12us/sample - loss: 0.5641 - acc: 0.7300
Loss: 0.5640853210649407, Accuracy: 0.7300291657447815

In [70]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
8575/8575 [==============================] - 0s 12us/sample - loss: 0.5666 - acc: 0.7331
Loss: 0.5666099929010208, Accuracy: 0.7330612540245056

### Step 3: Save each of your alternative models as an HDF5 file.

In [71]:
# Set the file path for the first alternative model
file_path ="Resources/model_A1.json"
nn_json = nn_A1.to_json()
with open(file_path, "w") as json_file:
    json_file.write(nn_json)

# Export your model to a HDF5 file
nn_A1.save_weights("Resources/AlphabetSoup_A1.h5")

In [72]:
# Set the file path for the second alternative model
file_path ="Resources/model_A2.json"
nn_json = nn_A2.to_json()
with open(file_path, "w") as json_file:
    json_file.write(nn_json)

# Export your model to a HDF5 file
nn_A2.save_weights("Resources/AlphabetSoup_A1.h5")